<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Silex Playground</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary" href="{{ url('create_person') }}">
                Create new person
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            {% if unemployed|length > 0 %}
                <h2>Unemployed people</h2>
                <ul>
                    {% for person in unemployed %}
                        <li>
                            <strong>{{ person.name }}</strong> <em>&laquo;{{ person.email }}&raquo;</em> -
                            <a class="btn btn-success btn-xs" href="{{ url('edit_person', {'person_id': person.id}) }}">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-danger btn-xs" href="{{ url('remove_person', {'person_id': person.id}) }}">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if employed|length > 0 %}
                <h2>Employed people</h2>
                <ul>
                    {% for person in employed %}
                        <li>
                            <strong>{{ person.name }}</strong> <em>&laquo;{{ person.email }}&raquo;</em> -
                            <a class="btn btn-success btn-xs" href="{{ url('edit_person', {'person_id': person.id}) }}">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-danger btn-xs" href="{{ url('remove_person', {'person_id': person.id}) }}">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary" href="{{ url('create_company') }}">
                Create new company
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            {% if unemployed|length > 0 and companies|length > 0 %}
                <a class="btn btn-info" href="{{ url('random_hire') }}">
                    New random hire
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </a>
            {% endif %}

            {% if companies|length > 0 %}
                <h2>Available companies</h2>
                <ul>
                    {% for company in companies %}
                        <li>
                            <p><strong>{{ company.name }}</strong> -
                                <a class="btn btn-danger btn-xs" href="{{ url('remove_company', {'company_id': company.id}) }}">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </p>
                            <p>Departments</p>
                            <ul>
                                {% for department in company.departments %}
                                    <li>
                                        {{ department.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <p>Employees</p>
                            <ul>
                                {% for employee in company.employees %}
                                    <li>
                                        {{ employee.person.name }} (
                                        <small><em>working at {{ employee.department.name }}</em></small>
                                        )
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

</body>
</html>
